In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('classification.csv')
df

           age   interest  success
0    23.657801  18.859917      0.0
1    22.573729  17.969223      0.0
2    32.553424  29.463651      0.0
3     6.718035  25.704665      1.0
4    14.401919  16.770856      0.0
..         ...        ...      ...
292  27.697220  18.799309      0.0
293  15.150959  72.000352      1.0
294  22.264378  68.453459      1.0
295  25.677420  90.118212      1.0
296  21.215594  48.265520      1.0

[297 rows x 3 columns]

In [3]:
df.isnull().sum()

age         0
interest    0
success     0
dtype: int64

In [4]:
X = df[['age','interest']]
y = df['success']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [5]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [6]:
y_pred = classifier.predict(X_test)

In [7]:
from sklearn.metrics import accuracy_score
score =accuracy_score(y_test,y_pred)
print('Test Accuracy Score', score)

Test Accuracy Score 0.8777777777777778

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [8]:
from sklearn.svm import SVC

In [9]:
svm_model = SVC()
svm_model.fit(X_train, y_train)

SVC()

In [10]:
y_pred2 = classifier.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
score =accuracy_score(y_test,y_pred2)
print('Test Accuracy Score', score)

Test Accuracy Score 0.8777777777777778