In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('mercedesbenz.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [7]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [8]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [9]:
df.X0.value_counts().sort_values(ascending=False).head(10)

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
Name: X0, dtype: int64

In [11]:
lst=df.X0.value_counts().sort_values(ascending=False).head(10).index
lst

Index(['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w'], dtype='object')

In [12]:
import numpy as np
for categories in lst:
    df[categories]=np.where(df['X0']==categories,1,0)

In [13]:
df.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'z', 'ak', 'y', 'ay', 't',
       'x', 'o', 'f', 'n', 'w'],
      dtype='object')

In [14]:
lst=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [15]:
import numpy as np
for categories in lst:
    df[categories]=np.where(df['X1']==categories,1,0)

In [16]:
df.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'z', 'ak', 'y', 'ay', 't',
       'x', 'o', 'f', 'n', 'w', 'aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c'],
      dtype='object')

In [17]:
lst=df.X2.value_counts().sort_values(ascending=False).head(10).index
lst

Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'], dtype='object')

In [18]:
import numpy as np
for categories in lst:
    df[categories]=np.where(df['X2']==categories,1,0)

In [19]:
df.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'z', 'ak', 'y', 'ay', 't',
       'x', 'o', 'f', 'n', 'w', 'aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c',
       'as', 'ae', 'ai', 'm', 'e'],
      dtype='object')